.basic-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5em auto;
  height: 100vh;
  width: 100vw;
	overflow: hidden;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#openFilesContainer {
  overflow: hidden;
  display: flex;
  background-color: rgb(50,50,50);
  cursor: pointer;
}

.openFile {
  display: flex;
  color: gray;
  padding-right: 1em;
}

#openFileActive {
  height: 1.5em;
  background-color: rgb(30,30,30);
  color: white;
}

#container {
	overflow: hidden;
}

#explorer {
  overflow-y: auto;
}